/* my css */
.hide-indicators .carousel-indicators {
  display: none;
}

.btn-linkedin:hover {
  background-color: #0077b5 !important;
  border-color:  #0077b5  !important;;
}
.btn-facebook:hover {
  background-color: #3b5998 !important;
  border-color:  #3b5998 !important;
}
.btn-twitter:hover {
  background-color: #1da1f2  !important;
  border-color:  #1da1f2  !important;;
}
.btn-youtube:hover {
  background-color: red !important;
  border-color:  red !important;;
}

.case_studies:hover{
color:#f8a440 !important;
}

.item_image {
  opacity: 0.3;
}
.nav-link{
  color:"#fff" !important
}
.btn-primary:hover{
  background-color: rgb(211, 207, 207) !important;

}

.Card_style{
  border: none;
  box-shadow: #3b5998;
}

.Card_style:hover{
background-color:#f8a440;
color: white;
transition: all .4s ease;

}
.Card_style a:hover{
  color:grey
}
.card_description{
  font-weight: 200;
}

.card_heading{
  font-size: x-large;
}
.style_badge{
  background-color: black
}
.text_style{
  color: grey;
  font-weight: 300;
}
.heading_style{
  color:#f8a440
}
.button_about{
  text-align: center;
}

.style_button:hover{
  background-color:#f8a440 !important;
  margin-right: 200;
}

.style_button{
  background-color: white;
  margin-right: 200;
}
.news_heading{
  font-size: 38px;
  color: #0b0f19;
  font-weight: 600;
  line-height: 1.3;
}
/* end my css */


/* pinky */
/* Navbar */
.nav-link:hover {
  color: #f07b3a !important;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-position: under;
}
.nav-link {
  text-transform: uppercase;
  font-weight: 600;
  font-style: normal;
  font-size: 15px;
  color: black !important;
}
.contact:hover {
  background-color: white !important;
}
.dropdown-toggle::after {
  display: none;
}
.navAbout {
  display: flex;
  flex-direction: row;
  width: 100% !important;
}
.list-group {
  border-color: none;
}
.cardImageSection {
  display: flex;
}
.dropdown,
.dropdown-center,
.dropend,
.dropstart,
.dropup,
.dropup-center {
  position: revert !important;
}
.dropdown-menu {
  width: 100% !important;
}
/* Footer */
.footerContainer {
  padding-top: 80px;
  padding-bottom: 80px;
  background: #1c1f29;
}
.footerParagraphStarted {
  font-size: 24px !important;
  font-weight: 70 !important;
  opacity: 0.5 !important;
  font-family: "Manrope", sans-serif;
  margin-bottom: 1.5rem !important;
  color: white;
}
.footerHeading {
  margin-bottom: 3rem !important;
  padding-bottom: 0 !important;
  font-weight: 510 !important;
  font-family: "Manrope", sans-serif;
  font-size: 40px !important;
  color: white;
}
/* .footerButton {
  background-color: #6366f1;
  font-size: 16px !important;
  font-family: "Manrope", sans-serif;
  padding: 12.56px 32px !important;
  border: none;
} */
.btn-primary:hover {
  background-color: rgb(211, 207, 207) !important;
}
@media screen and (max-width: 600px) {
  .footerHeading {
    font-size: 35px !important;
  }
}
.footerSection {
  background-color: #0b0f19;
  padding: 48px 0px 24px;
}
.footerSectionParagraph {
  color: white;
  opacity: 0.5 !important;
}
.footerSectionList {
  color: white;
  list-style: none;
}
.footerSectionList a {
  color: #6366f1;
}
.footerSectionForm {
  border-radius: 0%;
}
.footerSectionButton {
  border-radius: 0%;
  background: #6366f1;
  border: none;
}
.footerList {
  color: rgba(255, 255, 255, 0.85) !important;
  text-transform: initial;
  text-decoration: none !important;
}
.footerList:hover {
  color: #f8a440 !important;
}
.dropdown-List {
  color: white;
  text-decoration: none;
}

.textFooter {
  color: #fff !important;
  opacity: 0.5 !important;
  font-size: 12px;
  font-family: "Manrope", sans-serif;
}
.dark-mode .nav {
  color: rgba(255, 255, 255, 0.85);
}
.dark-mode .nav:hover {
  color: #6366f1;
}
.footerParagraph {
  margin-bottom: 1.5rem !important;
  font-size: 0.875rem !important;
  color: #fff !important;
  margin-top: 1rem;
  opacity: 0.5 !important;
}
.form-label {
  color: white !important;
  margin-bottom: 0.3125rem;
  font-size: 0.875rem;
  font-weight: 600;
}
.form-control {
  border-color: rgba(255, 255, 255, 0.18);
  background-color: rgba(255, 255, 255, 0.02);
  color: rgba(255, 255, 255, 0.7);
  padding-left: 3rem !important;
}
.emailIcon {
  color: white;
  font-family: boxicons !important;
  line-height: 1;
  opacity: 0.5 !important;
}
.SubscribeButton {
  background-color: #f8a440;
  border-color: none !important;
  color: white;
}
.SubscribeButton:hover {
  background-color: #f8a440;
}
.dropdown_icon {
  font-size: 30px;
  font-weight: normal;
}
.textFooterLink {
  color: white !important;
  font-size: 12px;
  text-transform: initial;
  font-weight: 100;
  margin-left: 4px;
  font-family: "Manrope", sans-serif;
}
.textFooterLink:hover {
  color: #f8a440 !important;
  text-decoration: none;
}
.fw-medium {
  color: #f8a440;
}
.fw-medium .textFooterLink:hover {
  color: #f8a440;
}
.dropdownLink {
  color: white !important;
  text-decoration: none;
  margin-bottom: -7px;
}
.footer {
  background: #0b0f19;
  opacity: 1;
}
 /* End of pinky code */

 /* Madhukar css */
 .services-main {
  width: 100%;
  height: auto;
}
.service-top-text {
  font-size: 42px;
  color: #f8a440 !important;
  line-height: 1.3em;
}
@media (max-width: 470px) {
  .service-top-text {
    font-size: 32px;
    line-height: 1em;
  }
}
.service-secondTop-text {
  font-size: 28px;
  color: #000000 !important;
}
@media (max-width: 470px) {
  .service-secondTop-text {
    font-size: 20px;
  }
}
.service-btn {
  height: 52px;
  width: 150px;
  border-color: #f8a440;
  color: white;
  border-radius: 5px !important;
  font-size: 17px;
  font-weight: 400 !important;
  background-color: #f8a440;
}
.btn:hover {
  background-color: #f0f0f2;
  color: white;
  border-color: #f0f0f2;
}
.service-card {
  background-color: #fff;
  border-color: white;
  margin-top: 80px;
  transition: 0.3s;
}
.service-card:hover {
  transform: translateY(-5px);
  transition: 0.3s;
}
.srvce-crd-title {
  font-weight: 700;
  font-size: 22px;
  color: #f8a440 !important;
  line-height: 1.4em;
}
.cardBody {
  height: 250px;
  padding: 40px;
}
@media (max-width: 1400px) {
  .cardBody {
    height: 280px;
  }
}
@media (max-width: 1200px) {
  .cardBody {
    height: 300px;
  }
}
@media (max-width: 995px) {
  .cardBody {
    height: 410px;
  }
}
@media (max-width: 768px) {
  .cardBody {
    height: 280px;
  }
}
@media (max-width: 500px) {
  .cardBody {
    height: 280px;
  }
}
@media (max-width: 440px) {
  .cardBody {
    height: 310px;
  }
}
@media (max-width: 400px) {
  .cardBody {
    height: 320px;
  }
}
@media (max-width: 380px) {
  .cardBody {
    height: 380px;
  }
}
.left-card {
  margin-right: 7px !important;
}
.right-card {
  margin-left: 7px !important;
}
/* .card22 {
  display: flex;
} */

@media (max-width: 500px) {
  .cardBodyText {
    font-size: 14px;
  }
}
.card-icon {
  margin-left: 40px;
  background-color: #f8a440 !important;
}
.cardArrowIcon {
  margin-left: 15px;
}

/* ChooseUs css */
.ChooseUs_main {
  width: 100%;
  height: auto;
  background-color: white;
}
.ChooseUs_sub_main {
  margin-top: 70px;
}
.chseUstext1 {
  font-size: 38px;
  color: #0b0f19;
  font-weight: 600;
  line-height: 1.3;
  display: block;
}
.chseUstext2 {
  font-size: 20px;
  color: #989db1;
  font-weight: 200;
  /* font-family: "Poppins", sans-serif; */
}
.vr {
  padding: 0;
  height: 155px;
}
@media (max-width: 576px) {
  .vr {
    display: none;
  }
}
.chooseUs-card {
  border-color: white;
}
.chooseUS-card-txt {
  padding: 10px;
}
.chooseUs-cardIcon {
}
.chooseUs-card2-left {
  background-color: #0b0f19;
  height: 400px;
}
.chooseUs-card2-right {
  height: auto;
  background-color: white;
  border-color: white;
}
.chooseUs-col {
  display: flex;
}
@media (max-width: 578px) {
  .chooseUs-col {
    display: inline;
  }
}
.carosalItem {
  height: 400px;
  padding: 30px;
  font-size: 20px;
  font-weight: 300;
}
.carosalProfileIcn {
  width: 50px;
  height: 50px;
}
.crslprofileName {
  font-size: 19px;
  font-weight: 500;
  color: black;
  display: block;
}
.crslPositioneName {
  font-size: 15px;
  font-weight: 200;
}
/* end css */